@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

/* --------------- GLOBAL ---------------- */
:root{
    --PrimaryColor: #A663CC;
    --mainWhite:#FFFFFF;
    --mainGray:#D6D6D6;
    --mainBlack:#333338; 
    --mainTransitions: all 0.7s ease;
    --mainSpacing: 0.1rem;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: 'Karla', Arial;
}

/* --------------- Navbar ---------------- */
.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--mainGray);
    z-index: 1;
  }
  .navbarCenter {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  .text{
      color: var(--PrimaryColor);
  }
  .navIcon {
    font-size: 1.5rem;
  }
  .cartBtn {
    cursor: pointer;
  }
  .cartItems {
    position: relative;
    font-size: 10px;
    text-align: center;
    top: -28px;
    right: -15px;
    width: 12px;
    border-radius: 4px;
    background: var(--PrimaryColor);
    color: var(--mainWhite);
  }
  /* --------------- End of Navbar ---------------- */

  /* --------------- Hero ---------------- */
.hero {
  min-height: calc(100vh - 60px);
  background: url("./images/hero-bcg.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.637);
  border-radius: 15px;
  padding: 2rem;
  border: solid 4px var(--mainGray);
}
.bannerTitle {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2.5rem;
}
.bannerBtn {
    font-weight: bold;
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--PrimaryColor);
  color: var(--mainBlack);
  border: 2px solid var(--PrimaryColor);
  border-radius: 20px;
  transition: var(--mainTransitions);
  cursor: pointer;
}
.bannerBtn:hover {
  background: transparent;
  color: var(--PrimaryColor);
  transform: translateY(-2px);
}
/* --------------- End of Hero ---------------- */

/* --------------- Products ---------------- */

.products {
    padding: 4rem 0;
  }
  .sectionTitle h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .productsCenter {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-column-gap: 1.2rem;
    grid-row-gap: 2rem;
  }
  .imgContainer {
    position: relative;
    overflow: hidden;
  }
  .bagBtn {
    position: absolute;
    top: 75%;
    right: 0;
    background: var(--PrimaryColor);
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransitions);
    transform: translateX(101%);
    cursor: pointer;
  }
  .bagBtn:hover {
    color: var(--mainWhite);
  }
  .fa-shopping-cart {
    margin-right: 0.5rem;
  }
  .imgContainer:hover .bagBtn {
    transform: translateX(0%);
  }
  .productImg {
    display: block;
    width: 100%;
    min-height: 12rem;
    border-radius: 5px;
    transition: var(--mainTransitions);
  }
  .imgContainer:hover .productImg {
    opacity: 0.5;
  }
  
  .product h3 {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  
  .product h5 {
    margin-top: 0.7rem;
    font-weight: bold;
    letter-spacing: var(--mainSpacing);
    color: var(--PrimaryColor);
    text-align: center;
  }
  /* ---------------End of Products ---------------- */

  /* --------------- Cart ---------------- */
.cartOverlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransitions);
  background: rgba(247, 207, 248, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransitions);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.closeCart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cartItem {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1rem;
  margin: 1.5rem 0;
}
.cartItem img {
  width: 75px;
  height: 75px;
  border-radius: 5px;
}
.cartItem h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cartItem h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.itemAmount {
  text-align: center;
}
.removeItem {
  text-transform: capitalize;
  color: darkgray;
  cursor: pointer;
  transition: var(--mainTransitions);
}
.removeItem:hover{
  font-weight: bold;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--PrimaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cartFooter {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cartFooter h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
/* --------------- End of Cart ---------------- */
